{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Createblog
{% endblock %}

{% block content %}
    <div class="card my-2">
        <div class="card-header">
            <p class="fs-2 text-success">Create something</p>
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success float-end">Create</button>
            </form>
        </div>
    </div>
{% endblock %}