{% extends 'blog/base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    {% include 'blog/section.html' %}

    <h2>Bloglar soni {{ blogs.count }} ta</h2>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for blog in blogs %}
                    <div class="col">
                        <div class="card shadow-sm">
                            {% if blog.image %}
                                <img class="image-content" src="{{ blog.image.url }}" alt="rasm">
                            {% else %}
                                <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top"
                                     height="225"
                                     preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                                     xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#55595c"></rect>
                                    <text x="40%" y="50%" fill="#eceeef" dy=".3em">{{ blog.title }}</text>
                                </svg>
                            {% endif %}
                            <div class="card-body">
                                <p class="card-text">{{ blog.content|truncatewords:30 }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'detail' blog.id %}" class="btn btn-sm btn-outline-secondary">View</a>
                                        <a href="{% url 'update' blog.id %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                                    </div>
                                    <small class="text-body-secondary">9 mins</small></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}